python-telegram-bot
Pillow==10.0.0
diffusers
transformers
torch
torchvision
scikit-learn
numpy
stripe
requests
accelerate
safetensors
regex
huggingface-hub
tokenizers
typer
importlib_metadata
